{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% tailwind_css %}
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        />
        <title></title>
      </head>
<body>
    <div class="flex items-center mb-3">

        <p>Enseignant</p>
        
        <button class="border-2 bg-current rounded-md bg-red">
            Permanant 
        </button>

    </div>

</body>
</html>