{% extends 'header.html' %}

{% block title %}Button Color Change Example{% endblock %}

{% block content %}
 <body class="mx-auto w-[90%] border">
    <div>
        <div class='flex items-center mt-3'>
            <p class=' w-[20%]'>Ref N:
                <input  placeholder='  ....... ' class='w-[20%] border text-center' ></input> ESTIN/2023
            </p>

            <div class="items-center">   
                <button class='ms-2'  >
                    <i class="fa-solid fa-pen"></i>                    
                </button>
              
                <button class='ms-2' >
                    <i class="fa-solid fa-floppy-disk"></i>
                </button>
           
            </div>
        </div>
           
        <div class='mt-3'>
            <p class="text-center">
                Etat de service des heures complementaires <br/> Enseignants {% if type == 'permanant' %} Permanants {% else %} Vacataires {% endif %}  
            </p>
        </div>

<!-- ________________________________________________________update print ..._____________________________________________________________ -->
     
        <div class='flex items-center justify-between mx-4 mb-2'>
            <div class='flex items-center'>
                <p>Mois:</p>
                
                <button>
                    <i class="fa-solid fa-caret-left"></i>
                </button>                            
                
                <!-- Boucle pour afficher chaque année universitaire et les mois correspondants -->
                {% for annee, mois in anneeUnniv %}
                    <span class='font-bold text-lg'>{{ annee }}</span>
                    <ul>
                        <!-- Boucle pour afficher chaque mois -->
                        {% for m in mois %}
                            <li>{{ m }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
                
                <button>
                    <i class="fa-solid fa-caret-right"></i>
                </button> 
            </div>
            

                <div class='icons '>
                        <button  class="font-semibold text-gray-700 rounded-lg text-lg hover:text-blue-600 relative"  >
                            <i class="fa-solid fa-pen"></i>
                                <!-- <div class="bg-yellow-100 p-1 absolute top-4 right-7 -mt-2 -mr-2 transition-all duration-300 ease-in-out border border-black text-sm text-black font-medium">
                                    modifier
                                </div> -->
                        </button>
                

                            <button>
                            <i class="fa-solid fa-floppy-disk"></i>
                                <!-- <div class="bg-yellow-100 p-1 absolute top-4 right-7 -mt-2 -mr-2 transition-all duration-300 ease-in-out border border-black text-sm text-black font-medium">
                                    sauvegarder
                                </div> -->
                            </button>

                        <button class='mx-2'  > 
                            <i class="fa-solid fa-print"></i>                    
                        </button>                    
                        
                        <button > 
                            <i class="fa-solid fa-download"></i>                    
                        </button>                    
                </div>
        </div>
       
 
                <table class="w-full border mx-auto">
                    <thead class='text-col-3'>
                        <tr>
                            <th>N°</th>
                            <th>Nom & prénom</th>
                            <th>Grade</th>
                            <th>Module Enseigné</th>
                            <th>Volume horaire autorisé</th>
                            <th>Nombre de semaines</th>
                            <th>Nombre d'heures Mensuelles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in list %}
                            <tr>
                                <td class="text-center">{{ item.index }}</td>  
                                <td class="text-center">{{ item.nom }} {{ item.prenom }}</td>
                                <td class="text-center">{{ item.grade }}</td>
                                <td class="text-center">{{ item.module_enseigne }}</td>
                                <td class="text-center">{{ item.volumeAutorise }}</td>
                                <td class="text-center">{{ item.nbSemaine }}</td>
                                <td class="text-center">{{ item.heursSupps }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
 
    </div>



   
<script>
    const button1 = document.querySelector(".btn1");
    const button2 = document.querySelector(".btn2");

    function changeColor(numButton) {
        let type;
        if (numButton === 1) {
            type = "permanant";
            button1.classList.remove('bg-blue-300');
            button1.classList.add('bg-blue-950');
            button2.classList.remove('bg-blue-950');
            button2.classList.add('bg-blue-300');
        } else {
            type = "vaccataire";
            button2.classList.remove('bg-blue-300');
            button2.classList.add('bg-blue-950');
            button1.classList.remove('bg-blue-950');
            button1.classList.add('bg-blue-300');
        }
 
        const url = `/fiche-heurs-supps/${type}/<str:year>/<str:month>/`;
   
        window.location.href = url;
    }

    button1.addEventListener("click", function() {
        changeColor(1);
    });
    button2.addEventListener("click", function() {
        changeColor(2);
    });





</script>

</body>
{% endblock %}
