{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha384-BJH7Fdq8+JAY9eBYBY8Ovh9gDAoS67E0b5z+ZuI1tkCTUKU0jO8ssIbLD8gVtUkG"
      crossorigin="anonymous"
    />
    <title>{% block title %} header {% endblock %}</title>
  </head>






  <body>


    <div class="mr-3 ml-3 flex  justify-between font-bold  ">
 
        
        <div class="justify-start my-auto">
          <!-- <p class="text-ce"> -->
           <p class="text-center"> Ministère de l'Enseignement Supérieur</p> 
            <p class="text-center">et de la Recherche Scientifique</p>
            <p class="text-center">École supérieure en Sciences et Technologies</p> 
            <p class="text-center">de l'Informatique et du Numérique -Bejaia-</p>          
 
        </div>


        <div   >
          <p  class="text-center">
            الجمهوريــة الجزائريــة الديمقراطيــة الشعبيــة
          </p>
          <p  class="ml-5">
            Republique Algérienne Démocratique et Populaire
          </p>
          <img src="{% static '../static/estin2.png' %}" alt="logo" class="ml-[20%]" >
        </div>


 
        <div class="title-2  justify-end  my-auto ">
          <p class="text-center">وزارة التعليم العالي والبحث العلمي</p>
          <p class="text-center">
            المدرسة العليا في علوم وتكنولوجيات          </p>
            <p class="text-center">الاعلام الالي والرقمنة -بجاية</p>
        </div>
 
    </div>
    <div id="content"  >{% block content %} {% endblock %}</div>
  </body>
</html>